
browser-appbar-address {
	display: inline-block;
	position: relative;
	width: auto;
	height: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

browser-appbar-address {
	width: calc(100% - 32px);
}

browser-appbar-history + browser-appbar-address {
	width: calc(100% - 128px - 160px - 128px);
}

browser-appbar-address ul {
	display: inline-block;
	position: relative;
	width: calc(100% - 64px);
	height: 32px;
	line-height: 32px;
	margin: 0px 32px;
	padding: 0px;
	color: var(--element-default-color);
	background: var(--element-default-background);
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	z-index: 1;
}

browser-appbar-address ul li {
	display: inline-block;
	list-style: none;
	height: calc(32px - 2px);
	margin: 0px;
	padding: 0px;
	line-height: calc(32px - 2px);
	border: 0px solid transparent;
	border-radius: 0px;
	border-bottom: 2px solid transparent;
	vertical-align: middle;
	box-sizing: border-box;
	transition: 200ms all ease-out;
}

browser-appbar-address ul li:hover {
	color: var(--element-focus-color);
	border-radius: 4px 4px 0px 0px;
	border-bottom: 2px solid var(--element-focus-color);
	background: var(--element-focus-background);
	cursor: text;
}

browser-appbar-address ul li[data-key="protocol"] {
	width: 32px;
	height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	line-height: 32px;
}

browser-appbar-address ul li[data-key="protocol"]:hover {
	color: var(--element-default-color);
	border-bottom: 2px solid transparent;
	background: transparent;
	cursor: default;
}

browser-appbar-address ul li[data-key="protocol"]:before {
	display: inline-block;
	width: 100%;
	content: '\e157';
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

browser-appbar-address ul li[data-key="protocol"][data-val="file"]:before    { content: '\e84f'; }
browser-appbar-address ul li[data-key="protocol"][data-val="ftps"]:before    { content: '\e897'; }
browser-appbar-address ul li[data-key="protocol"][data-val="ftp"]:before     { content: '\e898'; }
browser-appbar-address ul li[data-key="protocol"][data-val="https"]:before   { content: '\e897'; }
browser-appbar-address ul li[data-key="protocol"][data-val="http"]:before    { content: '\e898'; }
browser-appbar-address ul li[data-key="protocol"][data-val="wss"]:before     { content: '\e897'; }
browser-appbar-address ul li[data-key="protocol"][data-val="ws"]:before      { content: '\e898'; }
browser-appbar-address ul li[data-key="protocol"][data-val="socks"]:before   { content: '\e32a'; }
browser-appbar-address ul li[data-key="protocol"][data-val="stealth"]:before { content: '\e8b8'; }

browser-appbar-address input {
	display: block;
	position: absolute;
	width: 100%;
	width: calc(100% - 64px);
	height: 32px;
	line-height: 32px;
	top: 0px;
	left: 32px;
	bottom: auto;
	right: auto;
	margin: 0px;
	padding: 0px;
	color: var(--layout-default-color);
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: center;
	background: var(--layout-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	vertical-align: middle;
	transition: 200ms all ease-out;
	opacity: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	overflow: hidden;
	z-index: 0;
}

browser-appbar-address input.active {
	transition: 200ms all ease-out;
	opacity: 1;
	z-index: 2;
}

browser-appbar-address input::selection {
	color: var(--element-select-color);
	border-radius: 4px;
	background: var(--element-select-background);
	cursor: text;
}



@media screen and (max-width: 800px) {

	browser-appbar-address {
		width: calc(100% - 32px);
	}

	browser-appbar-history + browser-appbar-address {
		width: calc(100% - 128px - 160px - 96px);
		text-align: left;
	}

	browser-appbar-address ul {
		width: auto;
		margin: 0px 0px;
		text-align: left;
	}

	browser-appbar-address ul li {
		width: auto;
	}

	browser-appbar-address input {
		width: 100%;
		left: 0px;
	}

}

