
browser-appbar-history {
	display: inline-block;
	position: relative;
	width: auto;
	height: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
}

browser-appbar-history button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	text-align: center;
	background: var(--element-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

browser-appbar-history button:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

browser-appbar-history button[disabled],
browser-appbar-history button[disabled]:hover {
	color: var(--element-disable-color);
	border: 1px solid transparent;
	background: var(--element-disable-background);
	cursor: not-allowed;
}

browser-appbar-history button:focus,
browser-appbar-history button:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: var(--element-focus-background);
	outline: none;
}

browser-appbar-history button::-moz-focus-inner {
	border: 0px solid transparent;
}

browser-appbar-history button[data-key="back"]:before   { content: '\e5c4'; }
browser-appbar-history button[data-key="next"]:before   { content: '\e5c8'; }
browser-appbar-history button[data-key="reload"]:before { content: '\e5d5'; }
browser-appbar-history button[data-key="open"]:before   { content: '\e145'; }

