
browser-appbar-settings {
	display: inline-block;
	position: relative;
	width: auto;
	height: 32px;
	margin: 0px 0px 0px 32px;
	padding: 0px;
	line-height: 32px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
}

browser-appbar-settings button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	text-align: center;
	background: var(--element-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

browser-appbar-settings button:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

browser-appbar-settings button.active {
	color: var(--element-active-color);
}

browser-appbar-settings button[disabled],
browser-appbar-settings button[disabled]:hover {
	color: var(--element-disable-color);
	border: 1px solid transparent;
	background: var(--element-disable-background);
	cursor: not-allowed;
}

browser-appbar-settings button[disabled].active {
	color: var(--element-active-color);
}

browser-appbar-settings button:focus,
browser-appbar-settings button:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: var(--element-focus-background);
	outline: none;
}

browser-appbar-settings button::-moz-focus-inner {
	border: 0px solid transparent;
}

browser-appbar-settings button[data-key="session"]:before { content: '\e1e2'; }
browser-appbar-settings button[data-key="site"]:before    { content: '\e869'; }
browser-appbar-settings button[data-key="browser"]:before { content: '\e8b8'; }



@media screen and (max-width: 800px) {

	browser-appbar-settings {
		margin-left: 0px;
	}

}

