
browser-appbar-splitter {
	display: block;
	position: absolute;
	width: 100%;
	height: 34px;
	line-height: 32px;
	top: 0px;
	right: 32px;
	bottom: 0px;
	left: 0px;
	border: 0px solid transparent;
	border-bottom: 1px solid var(--surface-default-color);
	background: var(--surface-default-foreground);
	box-sizing: border-box;
	text-align: left;
	vertical-align: middle;
	pointer-events: none;
	transition: 200ms all ease-out;
	opacity: 0;
}

browser-appbar-splitter.active {
	pointer-events: all;
	transition: 200ms all ease-out;
	opacity: 1;
}

browser-appbar button[data-key="splitter"] {
	display: inline-block;
	position: relative;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	text-align: center;
	background: var(--element-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	vertical-align: top;
	user-select: none;
	-webkit-user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

browser-appbar button[data-key="splitter"].active {
	color: var(--element-active-color);
}

browser-appbar button[data-key="splitter"]:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: '\e5d4';
}

browser-appbar-splitter > browser-appbar-mode {
	width: calc(100% - 128px - 96px);
}



@media screen and (max-width: 640px) {

	browser-appbar-splitter {
		width: calc(100% - 32px);
	}

}

@media screen and (max-width: 412px) {

	browser-appbar-splitter {
		width: 100%;
		height: 64px;
		top: 0px;
		right: 0px;
		bottom: auto;
		left: 0px;
		transform: translate(0%, -100%);
	}

	browser-appbar-splitter.active {
		transform: translate(0%, 0%);
	}

	browser-appbar-splitter > browser-appbar-settings {
		width: calc(100% - 128px - 32px);
		text-align: right;
	}

	browser-appbar-splitter > browser-appbar-mode {
		display: block;
		position: absolute;
		width: 100%;
		top: 32px;
		right: 0px;
		bottom: auto;
		left: 0px;
	}

}

