
header {
	display: block;
	position: fixed;
	width: auto;
	height: 32px;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 8px;
	line-height: 32px;
	font-family: 'museo';
	font-size: 16px;
	color: #ffffff;
	background: #303030;
	border: 0px solid transparent;
	border-bottom: 1px solid #666666;
	box-sizing: content-box;
	z-index: 100;
	user-select: none;
}

header button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: #666666;
	font-size: 24px;
	text-align: center;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	outline: none;
	cursor: pointer;
}

header button:before,
header #header-address-protocol:before {
	display: inline-block;
	min-width: 32px;
	font-family: 'fontello';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

header button[disabled],
header button[disabled]:hover {
	color: #666666;
	background: transparent;
	cursor: default;
}

header button.active {
	color: #ffffff;
}

header button:hover {
	color: #ffffff;
	background: rgba(255,255,255,0.1);
}

header div {
	display: inline-block;
}

header #header-history {
	vertical-align: top;
}

header #header-history-back:before { content: '\e800'; }
header #header-history-next:before { content: '\e801'; }

header #header-history-load:before         { content: '\e80d'; }
header #header-history-load.refresh:before { content: '\e802'; }
header #header-history-load.pause:before   { content: '\e80b'; }

header #header-address {
	display: inline-block;
	position: relative;
	width: calc(100% - 108px - 284px);
	height: 32px;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
}

header #header-address ul {
	display: inline-block;
	position: relative;
	width: calc(100% - 64px);
	height: 32px;
	margin: 0px 32px;
	padding: 0px;
	overflow: hidden;
	z-index: 1;
}

header #header-address ul li {
	display: inline-block;
	list-style: none;
	height: calc(32px - 2px);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 2px solid transparent;
	transition: 250ms all ease-out;
}

header #header-address ul li:hover {
	border-bottom: 2px solid #0f99cb;
	cursor: text;
}

header #header-address ul li#header-address-protocol:before         { content: '\f13e'; }
header #header-address ul li#header-address-protocol.secure:before  { content: '\e808'; }
header #header-address ul li#header-address-protocol.stealth:before { content: '\f197'; }
header #header-address ul li#header-address-protocol.unknown:before { content: '\f128'; }

header #header-address ul li#header-address-protocol:hover {
	border-bottom: 2px solid transparent;
	cursor: default;
}

header #header-address input {
	display: block;
	position: absolute;
	width: 100%;
	width: calc(100% - 64px);
	height: 32px;
	line-height: 32px;
	top: 0px;
	left: 48px;
	margin: 0px;
	padding: 0px;
	padding-top: 1px; /* WTF, Blink, WTF */
	color: #ffffff;
	font-family: 'museo';
	font-size: 16px;
	text-align: center;
	background: #303030;
	border: 0px solid transparent;
	transition: 250ms all ease-out;
	opacity: 0;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	z-index: 0;
}

header #header-address input.active {
	transition: 250ms all ease-out;
	opacity: 1;
	z-index: 2;
}

header #header-address input:focus {

}

header div.header-right {
	float: right;
}

header #header-modes {
	vertical-align: top;
}

header #header-modes:hover > button:not(:hover),
header #header-modes:hover > button {
	color: #666666;
}

header #header-modes > button:hover {
	color: #ffffff;
}

header #header-modes-offline:before { content: '\e80e'; transform: rotate(45deg) scale(0.75) translate(0px, 2px); }
header #header-modes-covert:before  { content: '\f0fb'; }
header #header-modes-stealth:before { content: '\f197'; }
header #header-modes-online:before  { content: '\f135'; transform: rotate(45deg) scale(1.25) translate(-2px, 2px); }

header #header-settings {
	margin-left: 32px;
	vertical-align: top;
}

header #header-settings-requests:before { content: '\e80f'; }
header #header-settings-modes:before    { content: '\e805'; }
header #header-settings-browser:before  { content: '\f0c9'; }

