
#header {
	display: block;
	position: fixed;
	width: auto;
	height: 32px;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 8px;
	line-height: 32px;
	font-family: 'museo';
	font-size: 0px;
	color: #ffffff;
	background: #121212;
	border: 0px solid transparent;
	border-bottom: 1px solid #666666;
	box-sizing: content-box;
	z-index: 100;
	user-select: none;
}

#header button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: #666666;
	font-size: 24px;
	text-align: center;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

#header button:before,
#header-address-protocol:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

#header button[disabled],
#header button[disabled]:hover {
	color: #666666;
	background: transparent;
	cursor: default;
}

#header button.active,
#header button.active[disabled]:hover {
	color: #ffffff;
}

#header button:focus {
	color: #ffffff;
	border: 1px solid #ffffff;
	background: rgba(255,255,255,0.12);
	outline: none;
}

#header button:hover {
	color: #ffffff;
	border: 1px solid transparent;
	background: rgba(255,255,255,0.04);
	outline: none;
}


#header button::-moz-focus-inner {
	border: 0px solid transparent;
}

#header div {
	display: inline-block;
}

#header-history {
	vertical-align: top;
}

#header-history-back:before                         { content: '\e5c4'; }
#header-history-next:before                         { content: '\e5c8'; }
#header-history-state:before                        { content: '\e5d5'; }
#header-history-state[data-action="refresh"]:before { content: '\e5d5'; }
#header-history-state[data-action="pause"]:before   { content: '\e034'; }
#header-history-open:before                         { content: '\e145'; }

#header-address {
	display: inline-block;
	position: relative;
	width: calc(100% - 128px - 288px);
	height: 32px;
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
}

#header-address ul {
	display: inline-block;
	position: relative;
	width: calc(100% - 64px);
	height: 32px;
	margin: 0px 32px;
	padding: 0px;
	overflow: hidden;
	z-index: 1;
}

#header-address ul li {
	display: inline-block;
	list-style: none;
	height: calc(32px - 2px);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	vertical-align: middle;
	border: 0px solid transparent;
	border-radius: 0px;
	border-bottom: 2px solid transparent;
	transition: 250ms all ease-out;
}

#header-address ul li:hover {
	color: #0f99cb;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 2px solid #0f99cb;
	background: rgba(255,255,255,0.04);
	cursor: text;
}

#header-address ul #header-address-protocol {
	width: 32px;
	height: 32px;
	color: #666666;
	font-size: 24px;
	line-height: 32px;
}

#header-address-protocol:before {
	content: '\e157';
}

#header-address-protocol[data-val="file"]:before    { content: '\e84f'; }
#header-address-protocol[data-val="ftps"]:before    { content: '\e897'; }
#header-address-protocol[data-val="ftp"]:before     { content: '\e898'; }
#header-address-protocol[data-val="https"]:before   { content: '\e897'; }
#header-address-protocol[data-val="http"]:before    { content: '\e898'; }
#header-address-protocol[data-val="wss"]:before     { content: '\e897'; }
#header-address-protocol[data-val="ws"]:before      { content: '\e898'; }
#header-address-protocol[data-val="socks"]:before   { content: '\e32a'; }
#header-address-protocol[data-val="stealth"]:before { content: '\e8b8'; }

#header-address ul li#header-address-protocol:hover {
	border-bottom: 2px solid transparent;
	cursor: default;
}

#header-address input {
	display: block;
	position: absolute;
	width: 100%;
	width: calc(100% - 64px);
	height: 32px;
	line-height: 32px;
	top: 0px;
	left: 32px;
	margin: 0px;
	padding: 0px;
	padding-top: 1px; /* WTF, Blink, WTF */
	color: #ffffff;
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: center;
	background: #121212;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 250ms all ease-out;
	opacity: 0;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	overflow: hidden;
	z-index: 0;
}

#header-address input.active {
	transition: 250ms all ease-out;
	opacity: 1;
	z-index: 2;
}

#header-address input::selection {
	color: #0f99cb;
	border-radius: 4px;
	background: rgba(255,255,255,0.12);
	cursor: text;
}

header div.header-right {
	float: right;
}

#header-mode {
	vertical-align: top;
}

#header-mode:hover > button {
	color: #666666;
}

#header-mode > button:hover {
	color: #ffffff;
}

#header-mode button[data-key="text"]:before  { content: '\e06f'; }
#header-mode button[data-key="image"]:before { content: '\e432'; }
#header-mode button[data-key="audio"]:before { content: '\e049'; }
#header-mode button[data-key="video"]:before { content: '\e404'; }
#header-mode button[data-key="other"]:before { content: '\e048'; }
#header-mode button[data-val="true"]         { color: #ffffff;   }
#header-mode button[data-val="true"]:hover   { color: #ffffff;   }

#header-settings {
	margin-left: 32px;
	vertical-align: top;
}

#header-settings-site:before     { content: '\e869'; }
#header-settings-peer:before     { content: '\e1e2'; }
#header-settings-browser:before  { content: '\e8b8'; }



/* media queries */
@media screen and (max-width: 800px) {

	#header-address {
		width: calc(100% - 128px - 256px);
		text-align: left;
	}

	#header-address ul {
		margin: 0px 0px;
	}

	#header-settings {
		margin-left: unset;
	}

}

