
@import url("./other/index.css");

@import url("./appbar/Address.css");
@import url("./appbar/History.css");
@import url("./appbar/Mode.css");
@import url("./appbar/Settings.css");
@import url("./appbar/Splitter.css");

@import url("./backdrop/Console.css");
@import url("./backdrop/Help.css");
@import url("./backdrop/Tabs.css");
@import url("./backdrop/Webview.css");

/* TODO: Port Session and Site Sidebars to browser-dialog[data-key=""] */
/* @import url("./dialog/Session.css"); */
/* @import url("./dialog/Site.css");    */

@import url("./menu/Context.css");



/*
 * element z-index map
 *
 * 1025 => footer
 *         ... browser-help
 *
 * 1024 => header
 *         ... browser-history
 *         ... browser-address
 *         ... browser-mode
 *         ... browser-settings
 *         ... browser-splitter
 *
 * 1023 => footer => browser-context
 * 1022 => footer => browser-tabs
 *
 *  512 => footer
 *         ... browser-site
 *         ... browser-session
 *
 *    1 => main
 *         ... browser-webview
 *
 */



body {
	display: block;
	margin: 0px;
	padding: 0px;
	color: var(--layout-default-color);
	background: var(--layout-default-background);
}

header {
	display: block;
	position: fixed;
	width: auto;
	height: 40px;
	line-height: 32px;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 1024;
	border: 0px solid transparent;
	border-bottom: 1px solid #666666;
	background: var(--layout-default-background);
	box-sizing: border-box;
	vertical-align: middle;
}

main {
	display: block;
	position: relative;
	z-index: 1;
}

footer {
	display: block;
	position: relative;
}

