
aside#navi {
	display: block;
	position: fixed;
	width: auto;
	max-width: 192px;
	height: auto;
	top: 49px;
	right: auto;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background: #303030;
	border: 0px solid transparent;
	border-right: 1px solid #666666;
	transform: translate(-100%, 0px);
	transition: 250ms all ease-out;
	z-index: 100;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
}

aside#navi.active {
	transform: translate(0px, 0px);
}

aside#navi::-webkit-scrollbar {
	width: 2px;
	border: 0px solid transparent;
	background: transparent;
}

aside#navi::-webkit-scrollbar-thumb {
	width: 2px;
	background: #ffffff;
}

aside#navi button {
	display: block;
	position: relative;
	width: 100%;
	height: 32px;
	margin: 0px;
	padding: 0px 8px;
	color: #666666;
	text-align: left;
	background-color: transparent;
	background-image: none;
	background-position: left center;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 250ms all ease-out;
	overflow: hidden;
	text-overflow: ellipsis;
	appearance: none;
	outline: none;
	cursor: pointer;
}

aside#navi button[title^="http:"]:before,
aside#navi button[title^="https:"]:before,
aside#navi button[title^="stealth:"]:before {
	display: inline-block;
	width: 1em;
	margin-right: 8px;
	font-family: 'fontello';
	text-align: center;
	vertical-align: middle;
	speak: none;
}

aside#navi button[title^="http:"]:before    { content: '\f13e'; }
aside#navi button[title^="https:"]:before   { content: '\e808'; }
aside#navi button[title^="stealth:"]:before { content: '\f197'; }

aside#navi button[data-mode="offline"]:before { content: '\e80e'; transform: rotate(45deg) scale(0.75) translate(0px, 2px); }
aside#navi button[data-mode="covert"]:before  { content: '\f0fb'; }
aside#navi button[data-mode="stealth"]:before { content: '\f197'; }
aside#navi button[data-mode="online"]:before  { content: '\f135'; transform: rotate(45deg) scale(1.25) translate(-2px, 2px); }


aside#navi button.active {
	color: #ffffff;
	border-radius: 0px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}

aside#navi button.active:first-of-type {
	border-top: 1px solid transparent;
}

aside#navi button:focus,
aside#navi button:hover {
	color: #ffffff;
	background: rgba(255,255,255,0.1);
	outline: none;
}

aside#navi button::-moz-focus-inner {
	border: 0px solid transparent;
}

aside#navi button:last-of-type {
	margin: 0px;
}

