
aside#site-modes,
aside#site-requests {
	display: block;
	position: fixed;
	min-width: calc(298px - 16px);
	width: 33%;
	/* width: calc(298px - 16px); */
	height: auto;
	top: 49px;
	right: 0px;
	bottom: 0px;
	left: auto;
	margin: 0px;
	padding: 8px;
	background: #303030;
	border: 0px solid transparent;
	border-left: 1px solid #666666;
	transform: translate(calc(100% - 1px), 0px);
	transition: 250ms transform ease-out;
	z-index: 100;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
}

aside#site-modes.active,
aside#site-requests.active {
	transform: translate(0px, 0px);
	z-index: 101;
}

aside#site-modes::-webkit-scrollbar,
aside#site-requests::-webkit-scrollbar {
	width: 2px;
	border: 0px solid transparent;
	background: transparent;
}

aside#site-modes::-webkit-scrollbar-thumb,
aside#site-requests::-webkit-scrollbar-thumb {
	width: 2px;
	background: #ffffff;
}

aside#site-modes h3,
aside#site-requests h3 {
	display: block;
	margin: 1em 0px 1em 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'museo';
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

aside#site-modes table,
aside#site-requests table {
	width: 100%;
	color: #ffffff;
	font-family: 'museo';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

aside#site-modes table tr th,
aside#site-requests table tr th {
	padding: 0px 0px 0.5em 0px;
	font-size: 20px;
}

aside#site-modes table tr td,
aside#site-requests table tr td {
	padding: 4px;
	font-size: 16px;
	border: 1px solid #666666;
	transition: 250ms all ease-out;
}

aside#site-modes table tr:hover td,
aside#site-requests table tr:hover td {
	border: 1px solid #ffffff;
}

aside#site-modes table tr td:first-child,
aside#site-requests table tr td:first-child {
	text-align: left;
}

aside#site-modes button,
aside#site-requests button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: #666666;
	font-size: 20px;
	text-align: center;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	outline: none;
	cursor: pointer;
}

aside#site-modes button[disabled],
aside#site-modes button[disabled]:hover,
aside#site-requests button[disabled],
aside#site-requests button[disabled]:hover {
	color: #666666;
	background: transparent;
	cursor: default;
}

aside#site-modes button:hover,
aside#site-requests button:hover {
	color: #ffffff;
	background: rgba(255,255,255,0.1);
}

aside#site-modes button.active,
aside#site-requests button.active {
	color: #ffffff;
}

aside#site-modes button:before,
aside#site-requests button:before {
	display: inline-block;
	min-width: 32px;
	font-family: 'fontello';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

aside#site-modes td.site-media button.icon-text:before     { content: '\f0f6'; }
aside#site-modes td.site-media button.icon-image:before    { content: '\e812'; }
aside#site-modes td.site-media button.icon-video:before    { content: '\e813'; }
aside#site-modes td.site-media button.icon-download:before { content: '\e806'; }

aside#site-modes td.site-mode button,
aside#site-modes td.site-mode button:hover {
	color: #ffffff;
}

aside#site-modes td.site-mode button.icon-offline:before { content: '\e80e'; transform: rotate(45deg) scale(0.75) translate(0px, 2px); }
aside#site-modes td.site-mode button.icon-covert:before  { content: '\f0fb'; }
aside#site-modes td.site-mode button.icon-stealth:before { content: '\f197'; }
aside#site-modes td.site-mode button.icon-online:before  { content: '\f135'; transform: rotate(45deg) scale(1.25) translate(-2px, 2px); }

