
aside#site {
	display: block;
	position: fixed;
	width: auto;
	height: auto;
	top: 49px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 32px;
	color: #ffffff;
	font-family: 'museo';
	font-weight: normal;
	background: #121212;
	border: 0px solid transparent;
	transform: translate(100%, 0px);
	transition: 250ms transform ease-out;
	z-index: 100;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
}

aside#site.active {
	transform: translate(0px, 0px);
	z-index: 101;
}

aside#site article {
	display: none;
	width: 640px;
	margin: 64px auto;
	padding: 32px;
	background: rgba(255,255,255,0.04);
	border: 1px solid #666666;
	border-radius: 8px;
}

aside#site.active article {
	display: block;
}

aside#site article > *:first-child {
	margin-top: 0px;
}

