
@font-face {
	font-family: 'icon';
	src: url('icon.woff') format('woff');
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'crystalline';
	src: url('crystalline-light.woff') format('woff');
	font-variant: normal;
	font-weight: 250;
	font-style: normal;
}

@font-face {
	font-family: 'crystalline';
	src: url('crystalline-regular.woff') format('woff');
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'crystalline';
	src: url('crystalline-medium.woff') format('woff');
	font-variant: normal;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'crystalline';
	src: url('crystalline-bold.woff') format('woff');
	font-variant: normal;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('museo-regular.woff') format('woff');
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo';
	src: url('museo-medium.woff') format('woff');
	font-variant: normal;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'vera-mono';
	src: url('vera-mono.woff') format('woff');
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
}

