Package: tholian-stealth
Version: VERSION
Architecture: all
Maintainer: Tholian Network <void@tholian.network>
Installed-Size: SIZE
Depends: nodejs
Section: web
Homepage: https://tholian.network/index.html
Description: Secure, Peer-to-Peer, Private and Automateable Web Browser/Scraper/Proxy

