
base-console base-console-line {
	font-family: 'vera-mono' !important;
}

browser-sheet-console {
	position: fixed;
	top: auto;
	right: auto;
	bottom: 1px;
	left: 1px;
}

browser-sheet-console button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	text-align: center;
	background: var(--layout-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

browser-sheet-console button:hover,
browser-sheet-console button.active {
	color: var(--element-active-color);
	border: 1px solid var(--element-focus-color);
}

browser-sheet-console button:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: '\e1b0';
}

