[Unit]
Description=Tholian Stealth
After=network.target

[Service]
ExecStart=/usr/bin/tholian-stealth serve
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

