
browser-backdrop-help {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background: rgba(0,0,0,0.75);
	transition: 200ms all ease-out;
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

browser-backdrop-help.active {
	opacity: 1;
	pointer-events: auto;
}

browser-backdrop-help button {
	display: block;
	position: fixed;
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	color: var(--layout-default-color);
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: center;
	background: var(--layout-default-background);
	border: 1px solid #666666;
	border-radius: 4px;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	transition: 200ms all ease-out;
	overflow: hidden;
}

browser-backdrop-help button[title^="or"] {
	cursor: help;
}

browser-backdrop-help button.active,
browser-backdrop-help button:hover {
	border: 1px solid var(--element-active-color);
}

browser-backdrop-help button:before {
	display: block;
	position: absolute;
	content: ' ';
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: rgba(255,255,255,0);
	transition: 200ms all ease-out;
}

browser-backdrop-help button.active:before,
browser-backdrop-help button:hover:before {
	border: 1px solid var(--element-focus-color);
}

browser-backdrop-help article {
	display: block;
	position: fixed;
	min-width: 625px;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	margin: 0px;
	padding: 32px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-size: 24px;
	font-weight: normal;
	background: var(--layout-default-background);
	border: 1px solid #666666;
	border-radius: 8px;
	transform: translate(-50%, -50%);
}

browser-backdrop-help article h3 {
	display: block;
	margin: 0px 0px 1em 0px;
	padding: 0px 0px 0.5em 0px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px solid var(--layout-default-color);
}

browser-backdrop-help article ul {
	display: block;
	margin: 1em 0px 0px 0px;
	padding: 0px;
}

browser-backdrop-help article ul li {
	margin: 0px;
	padding: 0px;
	line-height: 1.5em;
	list-style: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

browser-backdrop-help article ul li.active {
	color: var(--element-active-color);
	border: 1px solid var(--element-active-color);
	background: var(--element-active-background);
}

browser-backdrop-help article code {
	display: inline-block;
	width: 5em;
	font-family: 'vera-mono';
	text-align: center;
}

