[Desktop Entry]
Name=Tholian Stealth
Name[en_US]=Tholian Stealth
GenericName=Stealth
Exec=/usr/bin/tholian-stealth
Icon=tholian-stealth
Type=Application
NoDisplay=false
Categories=Network;

