
@import url("../design/common/index.css");
@import url("../design/common/theme.css");
@import url("../design/common/elements.css");
@import url("../design/common/layout.css");

@import url("../design/card/Mode.css");



body > article button[data-key="mode.text"]:before  { content: '\e06f'; }
body > article button[data-key="mode.image"]:before { content: '\e432'; }
body > article button[data-key="mode.audio"]:before { content: '\e049'; }
body > article button[data-key="mode.video"]:before { content: '\e404'; }
body > article button[data-key="mode.other"]:before { content: '\e048'; }

body > article button,
body > article button[disabled],
body > article button[disabled]:hover {
	color: var(--element-active-color);
}

body > browser-card-mode {
	margin: 64px auto 0px auto;
}

