
@import url("../design/content.css");
@import url("../design/control.css");
@import url("../design/other/index.css");



footer {
	display: block;
	margin: 0px 0px 64px 0px;
	padding: 0px;
	color: #ffffff;
	text-align: center;
}

article input[type="radio"] + label[for] {
	user-select: none;
	cursor: pointer;
}



/* welcome */
#welcome-modes button[disabled],
#welcome-modes button[disabled]:hover {
	color: #ffffff;
}

#welcome-modes table {
	table-layout: fixed;
	width: 368px;
	margin-left: auto;
	margin-right: auto;
}

#welcome-modes table tr th:first-child,
#welcome-modes table tr td:first-child {
	width: 64px;
}

#welcome-modes table tr td:last-child {
	padding: 0px 8px;
	text-align: left;
}

#welcome-shortcuts div {
	margin-top: 48px;
}

#welcome-shortcuts div table {
	display: block;
	table-layout: fixed;
	width: 50%;
	vertical-align: top;
}

#welcome-shortcuts div table:nth-of-type(1) {
	float: left;
}

#welcome-shortcuts div table:nth-of-type(2) {
	float: right;
}

#welcome-shortcuts div:after {
	display: block;
	content: ' ';
	clear: both;
}

#welcome-shortcuts table tr th:first-child,
#welcome-shortcuts table tr td:first-child {
	width: 128px;
}

#welcome-shortcuts table tr td:first-child {
	font-family: 'vera-mono';
}

#welcome-shortcuts table tr th:last-child,
#welcome-shortcuts table tr td:last-child {
	width: calc(400px - 128px);
}

#welcome-shortcuts table tr td:last-child {
	padding: 0px 8px;
	text-align: left;
}

#welcome-pages table {
	table-layout: fixed;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
}

#welcome-pages table tr th:first-child,
#welcome-pages table tr td:first-child,
#welcome-pages table tr th:last-child,
#welcome-pages table tr td:last-child {
	width: 50%;
}

#welcome-pages table tr td:first-child,
#welcome-pages table tr td:last-child {
	padding: 0px 8px;
	text-align: left;
}

#welcome-pages table tr td:first-child a {
	font-family: 'vera-mono';
}



/* fix-filter */
#add-filter-assistant div {
	line-height: 32px;
	vertical-align: middle;
}



/* fix-mode */
#fix-mode table tr td:second-child {
	font-size: 0px;
}



/* fix-request */
#fix-request *[data-key="cause"] {
	display: none;
}

#fix-request *[data-key="cause"].active {
	display: block;
}



/* settings */
#internet-connection,
#internet-history,
#internet-useragent {
	width: 416px;
	margin: 48px auto 0px auto;
}

#internet-connection input[type="radio"] + label[for],
#internet-history input[type="radio"] + label[for],
#internet-useragent input[type="radio"] + label[for] {
	display: inline-block;
	width: 368px;
}

#internet-connection div,
#internet-history div,
#internet-useragent div {
	line-height: 32px;
	vertical-align: middle;
}

#hosts table textarea {
	height: 96px;
	min-height: auto;
	resize: none;
}

#hosts table textarea::-moz-placeholder {
	line-height: 96px;
}

#hosts table textarea::-webkit-input-placeholder {
	line-height: 96px;
}

#hosts-search {
	display: block;
	width: 100%;
	text-align: center;
}

#hosts-search input {
	width: 416px;
	margin: 48px auto 48px auto;
	text-align: center;
}

#fix-filter table tr td:nth-of-type(2),
#fix-filter table tr td:nth-of-type(2) input,
#sites-filters tr td:nth-of-type(2),
#sites-filters tr td:nth-of-type(2) input {
	text-align: left;
}

#fix-filter table tr td:nth-of-type(4),
#fix-filter table tr td:nth-of-type(4) input,
#sites-filters tr td:nth-of-type(4),
#sites-filters tr td:nth-of-type(4) input {
	text-align: right;
}

#fix-host table,
#fix-mode table,
#hosts table,
#peers table,
#sites table {
	table-layout: fixed;
}

#fix-host table tr:hover td:last-child,
#fix-host table tr:hover th:last-child,
#fix-mode table tr:hover td:last-child,
#fix-mode table tr:hover th:last-child,
#hosts table tr:hover td:last-child,
#hosts table tr:hover th:last-child,
#peers table tr:hover td:last-child,
#peers table tr:hover th:last-child,
#sites table tr:hover td:last-child,
#sites table tr:hover th:last-child {
	background: transparent;
}

#fix-host table tr td:last-child,
#fix-host table tr th:last-child,
#fix-mode table tr td:last-child,
#fix-mode table tr th:last-child,
#hosts table tr td:last-child,
#hosts table tr th:last-child,
#peers table tr td:last-child,
#peers table tr th:last-child,
#sites table tr td:last-child,
#sites table tr th:last-child {
	width: 32px;
	padding: 0px 0px 0px 4px;
	border-color: transparent;
}

#fix-request button[data-key="connection"],
#peers tbody button[data-key="connection"] {
	color: #ffffff;
}

#site-modes table td:second-child {
	font-size: 0px;
}



/* media queries */
@media screen and (max-width: 706px) {

	#welcome-shortcuts div {
		display: block;
		text-align: center;
	}

	#welcome-shortcuts div table:nth-of-type(1),
	#welcome-shortcuts div table:nth-of-type(2) {
		display: inline-block;
		width: auto;
		float: none;
		clear: both;
	}

	#welcome-shortcuts div table:nth-of-type(1) {
		margin-bottom: 48px;
	}

}

@media screen and (max-width: 436px) {

	#internet-connection {
		width: auto;
	}

	#internet-history {
		width: auto;
	}

	#internet-useragent {
		width: auto;
	}

	#hosts-search input {
		width: auto;
	}

	#welcome-modes table {
		width: 100%;
	}

	#welcome-shortcuts div table:nth-of-type(1),
	#welcome-shortcuts div table:nth-of-type(2) {
		width: 100%;
	}

	#welcome-pages table {
		width: 100%;
	}

}

