
body {
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	background: #202020;
}

* {
	color: #ffffff;
	background: transparent;
	font-family: 'museo';
	font-weight: normal;
}

::selection {
	color: #ffffff;
	background: #0f99cb;
}

::-moz-selection {
	color: #ffffff;
	background: #0f99cb;
}

::-webkit-scrollbar {
	width: 4px;
	border: 0px solid transparent;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 4px;
	background: #ffffff;
}



abbr {
	border: 0px solid transparent;
	text-decoration: none;
	cursor: help;
}

article {
	display: block;
	min-width: 640px;
	max-width: 800px;
	margin: 64px auto;
	padding: 32px;
	background: #404040;
	border: 1px solid #666666;
	border-radius: 8px;
}

article > *:first-child {
	margin-top: 0px;
}

article b {
	font-weight: bold;
}

button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	color: #666666;
	font-size: 24px;
	text-align: center;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

button[disabled],
button[disabled]:hover {
	color: #666666;
	background: transparent;
	cursor: default;
}

button:hover {
	color: #ffffff;
	background: rgba(255,255,255,0.1);
}

button[data-action]:before,
button[data-key]:before,
button[data-val]:before {
	display: inline-block;
	min-width: 32px;
	font-family: 'icon';
	text-align: center;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

button[data-action="confirm"]:before  { content: '\e5ca'; }
button[data-action="download"]:before { content: '\e884'; }
button[data-action="refresh"]:before  { content: '\e5d5'; }
button[data-action="read"]:before     { content: '\e5d5'; }
button[data-action="remove"]:before   { content: '\e5cd'; }
button[data-action="save"]:before     { content: '\e5ca'; }

button[data-key="connection"][data-val="unknown"]:before   { content: '\f128'; }
button[data-key="connection"][data-val="broadband"]:before { content: '\e1ba'; }
button[data-key="connection"][data-val="mobile"]:before    { content: '\e1b9'; }
button[data-key="connection"][data-val="peer"]:before      { content: '\e1e2'; }
button[data-key="connection"][data-val="offline"]:before   { content: '\e0ce'; }

button[data-key="mode.text"]:before       { content: '\e06f'; }
button[data-key="mode.image"]:before      { content: '\e432'; }
button[data-key="mode.audio"]:before      { content: '\e049'; }
button[data-key="mode.video"]:before      { content: '\e404'; }
button[data-key="mode.other"]:before      { content: '\e048'; }
button[data-key^="mode"][data-val="true"] { color: #ffffff;   }

button[data-key="status"][data-val="unknown"]:before { content: '\f128'; }
button[data-key="status"][data-val="online"]:before  { content: '\e1e2'; }
button[data-key="status"][data-val="offline"]:before { content: '\e0ce'; }

button[data-action].busy:before {
	content: '\e86a';
	animation: infinite linear 1s rotate;
}

@keyframes rotate {
	0%   { transform: rotate(0deg);   }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

code {
	display: inline;
	margin: 0px;
	padding: 0px 0.25em;
	font-family: 'vera-mono';
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	background: #202020;
	border: 1px solid #666666;
	border-radius: 4px;
	overflow-x: auto;
	overflow-y: auto;
}

h1, h2 {
	display: block;
	margin: 1em 0px 1em 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'museo';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
}

h3 {
	display: block;
	margin: 3em 0px 1em 0px;
	padding: 0px 0px 0.5em 0px;
	color: #ffffff;
	font-family: 'museo';
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px solid #ffffff;
}

h3 + code {
	display: block;
	margin: 1em 0px;
	padding: 0.5em;
	font-size: 20px;
	border-radius: 8px;
}

input[type="radio"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	color: transparent;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

input[type="radio"]:before {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0px;
	padding: 0px;
	content: '\e5ca';
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

input[type="radio"][value="broadband"]:before { content: '\e1ba'; }
input[type="radio"][value="mobile"]:before    { content: '\e1b9'; }
input[type="radio"][value="peer"]:before      { content: '\e1e2'; }

input[type="radio"][disabled],
input[type="radio"][disabled]:hover {
	color: #666666;
	background: transparent;
	cursor: default;
}

input[type="radio"]:hover {
	color: #ffffff;
	background: rgba(255,255,255,0.1);
}

input[type="radio"]:checked {
	color: #ffffff;
}

input[type="text"] {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	color: #ffffff;
	font-size: 16px;
	text-align: left;
	background: transparent;
	border: 0px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: 250ms all ease-out;
	appearance: none;
	outline: none;
	cursor: text;
}

p {
	margin: 1em 0px;
	text-align: justify;
}

table {
	width: 100%;
	color: #ffffff;
	font-family: 'museo';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

table tr th {
	font-size: 20px;
	padding: 0px 0px 0.5em 0px;
}

table tr td {
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	font-size: 16px;
	border-top: 1px solid #666666;
	transition: 250ms all ease-out;
}

table tr:hover td {
	border-top: 1px solid #ffffff;
	background: rgba(255,255,255,0.1);
}

table tr:hover + tr td {
	border-top: 1px solid #ffffff;
}

table tfoot tr:hover td,
table tfoot tr td {
	border-top: 2px solid #ffffff;
	background: transparent;
}

table tr td:last-child button {
	display: block;
	margin: 0px auto;
}

table input[type="text"] {
	display: block;
	width: 100%;
	text-align: center;
}

ul {
	margin: 0px;
	padding: 0px;
}

footer {
	display: block;
	margin: 0px 0px 64px 0px;
	padding: 0px;
	color: #ffffff;
	text-align: center;
}



article input[type="radio"] + label[for] {
	user-select: none;
	cursor: pointer;
}

article p + table {
	margin-top: 64px;
}



/* media queries */
@media screen and (max-width: 706px) {

	article {
		min-width: unset;
		max-width: unset;
		margin: 0px auto;
		padding: 8px;
	}

}



/* welcome */
#site-modes button[disabled],
#site-modes button[disabled]:hover {
	color: #ffffff;
}

#site-modes table,
#keyboard-shortcuts table,
#internal-pages table {
	table-layout: fixed;
}

#site-modes table tr td:first-child,
#site-modes table tr th:first-child,
#keyboard-shortcuts table tr td:first-child,
#keyboard-shortcuts table tr th:first-child,
#internal-pages table tr td:first-child,
#internal-pages table tr th:first-child {
	width: 144px;
}



/* fix-filter */
#add-filter-assistant div {
	line-height: 32px;
	vertical-align: middle;
}



/* fix-request */
#fix-request *[data-key="cause"] {
	display: none;
}

#fix-request *[data-key="cause"].active {
	display: block;
}



/* settings */
#internet-connection div,
#internet-torify div {
	line-height: 32px;
	vertical-align: middle;
}

#fix-filter table tr td:nth-of-type(2),
#fix-filter table tr td:nth-of-type(2) input,
#sites-filters tr td:nth-of-type(2),
#sites-filters tr td:nth-of-type(2) input {
	text-align: left;
}

#fix-filter table tr td:nth-of-type(4),
#fix-filter table tr td:nth-of-type(4) input,
#sites-filters tr td:nth-of-type(4),
#sites-filters tr td:nth-of-type(4) input {
	text-align: right;
}

#fix-host table,
#fix-mode table,
#hosts table,
#peers table,
#sites table {
	table-layout: fixed;
}

#fix-host table tr:hover td:last-child,
#fix-host table tr:hover th:last-child,
#fix-mode table tr:hover td:last-child,
#fix-mode table tr:hover th:last-child,
#hosts table tr:hover td:last-child,
#hosts table tr:hover th:last-child,
#peers table tr:hover td:last-child,
#peers table tr:hover th:last-child,
#sites table tr:hover td:last-child,
#sites table tr:hover th:last-child {
	background: transparent;
}

#fix-host table tr td:last-child,
#fix-host table tr th:last-child,
#fix-mode table tr td:last-child,
#fix-mode table tr th:last-child,
#hosts table tr td:last-child,
#hosts table tr th:last-child,
#peers table tr td:last-child,
#peers table tr th:last-child,
#sites table tr td:last-child,
#sites table tr th:last-child {
	width: 32px;
	padding: 0px 0px 0px 4px;
	border-color: transparent;
}

#fix-request button[data-key="connection"],
#peers tbody button[data-key="connection"],
#peers tbody button[data-key="status"] {
	color: #ffffff;
}

