
body,
body[data-theme="dark"] {

	--layout-default-color: #ffffff;
	--layout-default-background: #000000;

	--layout-focus-color: #ffffff;
	--layout-focus-background: rgba(255,255,255,0.20);

	--link-default-color: #22ccff;
	--link-default-background: transparent;

	--link-focus-color: #22ccff;
	--link-focus-background: rgba(255,255,255,0.20);

	--element-default-color: #aaaaaa;
	--element-default-background: transparent;

	--element-disable-color: #222222;
	--element-disable-background: transparent;

	--element-focus-color: #ffffff;
	--element-focus-background: rgba(255,255,255,0.20);

	--element-active-color: #ffffff;
	--element-active-background: rgba(255,255,255,0.10);

	--element-select-color: #22ccff;
	--element-select-background: rgba(51,153,255,0.20);

	--scrollbar-default-color: #ffffff;
	--scrollbar-default-background: transparent;

}

body[data-theme="light"] {

	--layout-default-color: #111111;
	--layout-default-background: #eeeeee;

	--layout-focus-color: #111111;
	--layout-focus-background: rgba(0,0,0,0.20);

	--link-default-color: #22ccff;
	--link-default-background: transparent;

	--link-focus-color: #22ccff;
	--link-focus-background: rgba(34,204,255,0.20);

	--element-default-color: #666666;
	--element-default-background: transparent;

	--element-disable-color: #dddddd;
	--element-disable-background: transparent;

	--element-focus-color: #22ccff;
	--element-focus-background: rgba(34,204,255,0.20);

	--element-active-color: #22ccff;
	--element-active-background: rgba(34,204,255,0.10);

	--element-select-color: #22ccff;
	--element-select-background: rgba(34,204,255,0.20);

	--scrollbar-default-color: #111111;
	--scrollbar-default-background: transparent;

}

