
browser-session {
	display: block;
	position: fixed;
	width: auto;
	height: auto;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'museo';
	background: #121212;
	border: 0px solid transparent;
	transform: translate(100%, 0%);
	transition: 200ms transform ease-out;
	z-index: 512;
	overflow-x: hidden;
	overflow-y: auto;
}

browser-session.active {
	transform: translate(0%, 0%);
}

article button[data-key="state"]:before                      { color: #ffffff; content: '\e86a'; }
article button[data-key="state"][data-val="error"]:before    { content: '\e001'; }
article button[data-key="state"][data-val="kill"]:before     { content: '\e033'; }
article button[data-key="state"][data-val="redirect"]:before { content: '\e8ba'; }
article button[data-key="state"][data-val="response"]:before { content: '\e7e9'; }

