@import url('./other/index.css');


::selection {
	color: var(--element-select-color);
	border-radius: 4px;
	background: var(--element-select-background);
	cursor: text;
}

::-moz-selection {
	color: var(--element-select-color);
	border-radius: 4px;
	background: var(--element-select-background);
	cursor: text;
}

::-webkit-scrollbar {
	width: 16px;
	border: 0px solid transparent;
	background: var(--scrollbar-default-background);
}

::-webkit-scrollbar-thumb {
	width: 16px;
	border: 0px solid transparent;
	border-radius: 2px;
	background: var(--scrollbar-default-color);
}

body {
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	color: var(--layout-default-color);
	background: var(--layout-default-background);
}

body * {
	scrollbar-color: var(--scrollbar-default-color) var(--scrollbar-default-background);
	scrollbar-width: auto;
}

article {
	display: block;
	min-width: 640px;
	max-width: 800px;
	margin: 64px auto;
	padding: 32px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-weight: normal;
	background: rgba(255,255,255,0.04);
	background: var(--layout-default-background);
	border: 1px solid #666666;
	border-radius: 8px;
}

article > *:first-child {
	margin-top: 0px;
}

article h1,
article h2 {
	display: block;
	margin: 1em 0px 1em 0px;
	padding: 0px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-size: 32px;
	font-weight: normal;
	text-align: center;
}

article h3 {
	display: block;
	margin: 48px 0px 1em 0px;
	padding: 0px 0px 0.5em 0px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px solid var(--layout-default-color);
}

article code {
	display: inline;
	margin: 0px;
	padding: 0px 0.25em;
	font-family: 'vera-mono';
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	background: #202020;
	border: 1px solid #666666;
	border-radius: 4px;
	overflow-x: auto;
	overflow-y: auto;
}

article h3 + code {
	display: block;
	margin: 1em 0px;
	padding: 0.5em;
	font-size: 20px;
	border-radius: 8px;
}

article hr {
	display: block;
	height: 0px;
	margin: 24px 0px 24px 0px;
	border: 0px none transparent;
	border-style: none;
	border-top: 2px solid var(--layout-default-color);
	appearance: none;
}

article a {
	padding: 0px 2px;
	color: var(--link-default-color);
	border: 1px solid transparent;
	border-radius: 2px;
	background: var(--link-default-background);
	box-sizing: border-box;
	text-decoration: underline;
	transition: 200ms all ease-out;
	outline: none;
	cursor: pointer;
}

article a:focus,
article a:hover {
	color: var(--link-focus-color);
	border: 1px solid var(--link-focus-color);
	background: var(--link-focus-background);
	outline: none;
}

article abbr {
	border: 0px solid transparent;
	text-decoration: none;
	cursor: help;
}

article b {
	font-weight: bold;
}

article p {
	margin: 1em 0px;
	text-align: justify;
}

article table {
	width: 100%;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

article table tr[data-visible="false"] { display: none;      }
article table tr[data-visible="true"]  { display: table-row; }

article table tr th {
	font-size: 20px;
	padding: 0px 0px 0.5em 0px;
}

article table tr td {
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	font-size: 16px;
	border-top: 1px solid #666666;
	transition: 200ms all ease-out;
}

article table tr td textarea {
	display: block;
	width: 100%;
	border: 1px solid transparent;
	vertical-align: middle;
}

article table tr td input[type="text"] {
	display: block;
	width: 100%;
	text-align: center;
	border: 1px solid transparent;
}

article table tbody tr:hover td {
	color: var(--layout-focus-color);
	background: var(--layout-focus-background);
}

article table tfoot tr td {
	border-top: 2px solid var(--layout-default-color);
	background: transparent;
}

article table tr td:last-child button {
	display: block;
	margin: 0px auto;
}

article p + table {
	margin-top: 48px;
}

article ul {
	margin: 0px;
	padding: 0px;
}



article button {
	display: inline-block;
	min-width: 32px;
	margin: 0px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	color: var(--element-default-color);
	font-size: 24px;
	text-align: center;
	background: var(--element-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	vertical-align: top;
	transition: 200ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

article button[disabled],
article button[disabled]:hover {
	color: var(--element-default-color);
	background: var(--element-default-background);
	cursor: default;
}

article button:focus,
article button:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: var(--element-focus-background);
	outline: none;
}

article button[data-action]:before,
article button[data-key]:before,
article button[data-val]:before {
	display: inline-block;
	width: 100%;
	font-family: 'icon';
	text-align: center;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

article button[data-action="confirm"]:before  { content: '\e5ca'; }
article button[data-action="download"]:before { content: '\e884'; }
article button[data-action="refresh"]:before  { content: '\e5d5'; }
article button[data-action="read"]:before     { content: '\e5d5'; }
article button[data-action="remove"]:before   { content: '\e5cd'; }
article button[data-action="request"]:before  { content: '\e8be'; }
article button[data-action="save"]:before     { content: '\e5ca'; }

article button[data-key="connection"][data-val="offline"]:before   { content: '\e8be'; }
article button[data-key="connection"][data-val="mobile"]:before    { content: '\e1b9'; }
article button[data-key="connection"][data-val="broadband"]:before { content: '\e1ba'; }
article button[data-key="connection"][data-val="peer"]:before      { content: '\e1e2'; }
article button[data-key="connection"][data-val="i2p"]:before       { content: '\e32a'; }
article button[data-key="connection"][data-val="tor"]:before       { content: '\e32a'; }

article button[data-key="mode.text"]:before       { content: '\e06f'; }
article button[data-key="mode.image"]:before      { content: '\e432'; }
article button[data-key="mode.audio"]:before      { content: '\e049'; }
article button[data-key="mode.video"]:before      { content: '\e404'; }
article button[data-key="mode.other"]:before      { content: '\e048'; }
article button[data-key^="mode"][data-val="true"] { color: var(--element-active-color); }

article button[data-key="timeline.init"]:before       { content: '\e037'; }
article button[data-key="timeline.cache"]:before      { content: '\e84f'; }
article button[data-key="timeline.stash"]:before      { content: '\e84f'; }
article button[data-key="timeline.block"]:before      { content: '\e32a'; }
article button[data-key="timeline.mode"]:before       { content: '\e32a'; }
article button[data-key="timeline.filter"]:before     { content: '\e152'; }
article button[data-key="timeline.connect"]:before    { content: '\e8be'; }
article button[data-key="timeline.download"]:before   { content: '\e2c4'; }
article button[data-key="timeline.optimize"]:before   { content: '\e428'; }
article button[data-key="timeline.response"]:before   { content: '\e7e9'; }
article button[data-key^="timeline"][data-val="true"] { color: var(--element-active-color); }

article button[data-action].busy:before {
	color: var(--element-default-color);
	background: var(--element-default-background);
	content: '\e86a';
	animation: infinite linear 1s rotate_icon;
	cursor: wait;
}

@keyframes rotate_icon {
	0%   { transform: rotate(0deg);   }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

article input[type="radio"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	text-align: center;
	color: var(--element-default-color);
	background: var(--element-default-background);
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	vertical-align: top;
	transition: 200ms all ease-out;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

article input[type="radio"]:before {
	display: inline-block;
	width: 100%;
	height: 32px;
	margin: 0px;
	padding: 0px;
	content: '\e5ca';
	font-family: 'icon';
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

article input[type="radio"][name="internet-connection"][value="mobile"]:before    { content: '\e1b9'; }
article input[type="radio"][name="internet-connection"][value="broadband"]:before { content: '\e1ba'; }
article input[type="radio"][name="internet-connection"][value="peer"]:before      { content: '\e1e2'; }
article input[type="radio"][name="internet-connection"][value="i2p"]:before       { content: '\e32a'; }
article input[type="radio"][name="internet-connection"][value="tor"]:before       { content: '\e32a'; }

article input[type="radio"][name="internet-history"][value="stealth"]:before      { content: '\e32a'; }
article input[type="radio"][name="internet-history"][value="day"]:before          { content: '\e889'; }
article input[type="radio"][name="internet-history"][value="week"]:before         { content: '\e916'; }
article input[type="radio"][name="internet-history"][value="forever"]:before      { content: '\eb3d'; }

article input[type="radio"][name="internet-useragent"][value="stealth"]:before         { content: '\e32a'; }
article input[type="radio"][name="internet-useragent"][value="browser-mobile"]:before  { content: '\e324'; }
article input[type="radio"][name="internet-useragent"][value="browser-desktop"]:before { content: '\e30a'; }
article input[type="radio"][name="internet-useragent"][value="spider-mobile"]:before   { content: '\e335'; }
article input[type="radio"][name="internet-useragent"][value="spider-desktop"]:before  { content: '\e335'; }

article input[type="radio"][name="internet-connection"].busy:before,
article input[type="radio"][name="internet-history"].busy:before,
article input[type="radio"][name="internet-useragent"].busy:before {
	color: var(--element-default-color);
	background: var(--element-default-background);
	content: '\e86a';
	animation: infinite linear 1s rotate_icon;
	cursor: wait;
}

article input[type="radio"][disabled],
article input[type="radio"][disabled]:hover {
	color: var(--element-default-color);
	background: var(--element-default-background);
	cursor: default;
}

article input[type="radio"]:focus,
article input[type="radio"]:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: var(--element-focus-background);
	outline: none;
}

article input[type="radio"]:checked {
	color: var(--element-active-color);
}

article input[type="text"] {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 32px;
	line-height: 32px;
	color: var(--layout-default-color);
	font-family: 'vera-mono';
	font-size: 16px;
	text-align: left;
	background: var(--element-default-background);
	border: 1px solid #666666;
	border-radius: 4px;
	vertical-align: top;
	transition: 200ms all ease-out;
	appearance: none;
	outline: none;
	cursor: text;
}

article input[type="text"]:focus,
article input[type="text"]:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: 1px solid var(--element-focus-background);
	outline: none;
}

article input[type="text"]::selection {
	color: var(--element-select-color);
	background: var(--element-select-background);
	cursor: text;
}

article textarea {
	display: inline-block;
	min-height: 5em;
	margin: 0px;
	padding: 0px;
	color: var(--layout-default-color);
	font-family: 'vera-mono';
	font-size: 16px;
	line-height: 16px;
	text-align: left;
	background: var(--element-default-background);
	border: 1px solid #666666;
	border-radius: 4px;
	vertical-align: top;
	transition: 200ms all ease-out;
	appearance: none;
	outline: none;
	resize: vertical;
	cursor: text;
}

article textarea:focus,
article textarea:hover {
	color: var(--element-focus-color);
	border: 1px solid var(--element-focus-color);
	background: var(--element-focus-background);
	outline: none;
}

article textarea::-moz-placeholder {
	text-align: center;
	line-height: 5em;
}

article textarea::-webkit-input-placeholder {
	text-align: center;
	line-height: 5em;
}



@media screen and (max-width: 706px) {

	article {
		width: auto;
		min-width: unset;
		max-width: unset;
		margin: 32px auto;
		padding: 8px;
		border-radius: 0px;
	}

}

