
@import url("../common/default.css");
@import url("../common/internal.css");



#peers table {
	table-layout: fixed;
}

#peers table tr td:last-child,
#peers table tr th:last-child {
	width: 32px;
	padding: 0px 0px 0px 4px;
	border-color: transparent;
}

#peers table tr:hover td:last-child,
#peers table tr:hover th:last-child {
	background: transparent;
}

#peers button[data-key="connection"] {
	color: var(--element-active-color);
}

