
/*
 * Taken from cookie.engineer's website
 */

@font-face {
	font-family: 'museo-sans-300';
	src: url('museo-sans-300.woff2') format('woff2'),
	url('museo-sans-300.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'museo-sans-500';
	src: url('museo-sans-500.woff2') format('woff2'),
	url('museo-sans-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	background: #404040;
}

div#card-menu {
	display: none;
	width: 8.5cm;
	height: auto;
	position: absolute;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, calc(-100% - 2.5cm - 4px));
	text-align: center;
}

div#card-menu.active {
	display: block;
}

div#card-menu b {
	display: block;
	text-align: center;
	color: #ffffff;
	font-family: 'museo-sans-300';
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

div#card-menu input {
	display: inline-block;
	width: calc(50% - 3px);
	height: auto;
	margin: 0px;
	padding: 0px;
}

article#card {
	display: block;
	position: absolute;
	width: 8.5cm;
	height: 5cm;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	padding: 0px;
	color: #222222;
	background: #ffffff;
	border: 0px solid transparent;
	box-shadow: 0px 0px 0.125cm 0.0625cm rgba(0,0,0,0.25);
}

article#card img {
	display: block;
	position: absolute;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 0.5cm;
	transform: translate(0px, -50%);
	width: 33%;
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	outline: none;
}

article#card h1,
article#card h2 {
	display: block;
	position: absolute;
	width: 50%;
	height: auto;
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-500';
	text-align: justify;
}

article#card h1 {
	top: calc(50% - 33% / 2 - 0.125cm);
	right: 0.5cm;
	bottom: auto;
	left: auto;
	transform: translate(0px, -50%);
	color: #0f99cb;
	font-size: 0.5cm;
	font-weight: bold;
}

article#card h1 > span {
	color: #222222;
	font-size: 1cm;
}

article#card h2 {
	top: calc(50% - 33% / 2 + 0.125cm + 0.16cm + 0.2cm);
	right: 0.5cm;
	bottom: auto;
	left: auto;
	transform: translate(0px, -50%);
	color: #222222;
	font-size: 0.32cm;
	font-weight: normal;
}

article#card ul {
	display: block;
	position: absolute;
	width: 50%;
	height: auto;
	top: calc(50% + 0.825cm / 2 + 0.125cm);
	right: 0.5cm;
	bottom: auto;
	left: auto;
	transform: translate(0px, -50%);
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 0.275cm;
	font-weight: normal;
	text-align: justify;
}

article#card ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}



@page {
	size: 8.50cm 5.00cm;
	margin: 0cm;
	padding: 0cm;
}



@media print {

	* {
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
	}

	body {
		background: transparent;
		page-break-inside: avoid;
		overflow: hidden;
	}

	div#card-menu,
	div#card-menu.active {
		display: none;
	}

	article#card {
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		transform: translate(0px, 0px);
		box-shadow: none;
		page-break-inside: avoid;
		page-break-after: avoid;
	}

}

