
browser-card-beacon {
	all: unset;
}

browser-card-beacon {
	display: block;
	position: relative;
	width: 640px;
	max-height: 64px;
	margin: 0px;
	padding: 16px;
	background: var(--surface-default-background);
	border: 1px solid var(--surface-default-color);
	border-radius: 8px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	overflow: hidden;
	cursor: default;
}

browser-card-beacon.active {
	max-height: unset;
}

browser-card-beacon-article {
	display: block;
	width: 100%;
	height: auto;
}

browser-card-beacon-footer {
	display: block;
	height: 32px;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	text-align: right;
}



browser-card-beacon h3 {
	display: block;
	margin: 0px;
	padding: 0px 0px 16px 0px;
	font-family: 'vera-mono';
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	vertical-align: middle;
	color: red;
}

browser-card-beacon h3 > input {
	width: calc(100% - 48px);
}

browser-card-beacon button[data-action="toggle"] {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

browser-card-beacon button[data-action="toggle"]:before {
	content: '\e5c5';
	transition: 200ms transform ease-out;
}

browser-card-beacon button[data-action="toggle"].active:before {
	transform: rotate(180deg);
	transition: 200ms transform ease-out;
}

browser-card-beacon-article browser-card-beacon-beacon {
	display: block;
	margin: 0px;
	padding: 0px 0px 32px 0px;
	text-align: center;
}

browser-card-beacon-article browser-card-beacon-beacon:last-of-type {
	padding: 0px;
}

browser-card-beacon-beacon button {
	margin: 0px 8px;
}

browser-card-beacon-beacon button[data-key="mode.text"]:before  { content: '\e06f'; }
browser-card-beacon-beacon button[data-key="mode.image"]:before { content: '\e432'; }
browser-card-beacon-beacon button[data-key="mode.audio"]:before { content: '\e049'; }
browser-card-beacon-beacon button[data-key="mode.video"]:before { content: '\e404'; }
browser-card-beacon-beacon button[data-key="mode.other"]:before { content: '\e048'; }
browser-card-beacon-beacon button[data-val="true"]              { color: var(--element-active-color); }
browser-card-beacon-beacon button[data-val="true"]:hover        { color: var(--element-active-color); }

browser-card-beacon-beacon input[type="text"] {
	display: block;
	width: 100%;
	text-align: left;
}

browser-card-beacon-footer button {
	margin-left: 16px;
}

browser-card-beacon-footer button[data-action="create"]:before  { content: '\e145'; }
browser-card-beacon-footer button[data-action="refresh"]:before { content: '\e5d5'; }
browser-card-beacon-footer button[data-action="remove"]:before  { content: '\e14c'; }
browser-card-beacon-footer button[data-action="save"]:before    { content: '\e876'; }

