
browser-card-beacon {
	all: unset;
}

browser-card-beacon {
	display: block;
	position: relative;
	width: 800px;
	max-height: 64px;
	margin: 0px;
	padding: 16px;
	background: var(--surface-default-background);
	border: 1px solid var(--surface-default-color);
	border-radius: 8px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	overflow: hidden;
	cursor: default;
}

browser-card-beacon.active {
	max-height: unset;
}

browser-card-beacon-article {
	display: block;
	width: 100%;
	height: auto;
}

browser-card-beacon-footer {
	display: block;
	height: 32px;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	text-align: right;
}



browser-card-beacon h3 {
	display: block;
	margin: 0px;
	padding: 0px 0px 16px 0px;
}

browser-card-beacon h3 input[type="text"] {
	display: inline;
	font-family: 'crystalline';
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
	width: auto;
}

browser-card-beacon.active h3 input[type="text"] {
	display: inline-block;
	width: calc(100% - 48px);
}

browser-card-beacon.active h3 input[type="text"]:nth-of-type(2) {
	display: block;
	width: 100%;
	margin-top: 16px;
	font-family: 'vera-mono';
	font-size: 16px;
	font-weight: 400;
}

browser-card-beacon button[data-action="toggle"] {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

browser-card-beacon button[data-action="toggle"]:before {
	content: '\e5c5';
	transition: 200ms transform ease-out;
}

browser-card-beacon button[data-action="toggle"].active:before {
	transform: rotate(180deg);
	transition: 200ms transform ease-out;
}

browser-card-beacon-article button[data-action="beacon.create"]:before { content: '\e145'; }
browser-card-beacon-article button[data-action="beacon.remove"]:before { content: '\e14c'; }

browser-card-beacon-article code {
	display: block;
	white-space: pre;
}

browser-card-beacon-article table {
	width: 100%;
}

browser-card-beacon-article table th {
	margin: 0px;
	padding: 0px;
	font-family: 'crystalline';
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

browser-card-beacon-article table td {
	margin: 0px;
	padding: 8px 8px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'museo';
	border-top: 1px solid var(--surface-default-color);
}

browser-card-beacon-article table td:nth-of-type(3) {
	width: 160px;
	text-align: center;
}

browser-card-beacon-article table button[data-key="beacon.mode.text"]:before  { content: '\e06f'; }
browser-card-beacon-article table button[data-key="beacon.mode.image"]:before { content: '\e432'; }
browser-card-beacon-article table button[data-key="beacon.mode.audio"]:before { content: '\e049'; }
browser-card-beacon-article table button[data-key="beacon.mode.video"]:before { content: '\e404'; }
browser-card-beacon-article table button[data-key="beacon.mode.other"]:before { content: '\e048'; }
browser-card-beacon-article table button[data-val="true"]                     { color: var(--element-active-color); }
browser-card-beacon-article table button[data-val="true"]:hover               { color: var(--element-active-color); }

browser-card-beacon-article textarea {
	height: auto;
	background: transparent;
	resize: vertical;
}

browser-card-beacon-footer button {
	margin-left: 16px;
}

browser-card-beacon-footer button[data-action="create"]:before  { content: '\e145'; }
browser-card-beacon-footer button[data-action="refresh"]:before { content: '\e5d5'; }
browser-card-beacon-footer button[data-action="remove"]:before  { content: '\e14c'; }
browser-card-beacon-footer button[data-action="save"]:before    { content: '\e876'; }



@media screen and (max-width: 800px) {

	browser-card-beacon {
		width: auto;
	}

}

