
browser-card-mode {
	all: unset;
	display: block;
	position: relative;
	width: 800px;
	max-height: 64px;
	margin: 0px;
	padding: 16px;
	background: var(--surface-default-background);
	border: 1px solid var(--surface-default-color);
	border-radius: 8px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	overflow: hidden;
	cursor: default;
}

browser-card-mode.active {
	max-height: unset;
}

browser-card-mode > h3 {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
}

browser-card-mode > h3:before {
	display: inline;
	content: '\e85b';
	margin: 0px 16px 0px 0px;
	padding: 0px;
	font-family: 'icon';
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

browser-card-mode > h3 input[type="text"] {
	display: inline-block;
	width: calc(100% - 32px - 32px - 24px);
	font-family: 'vera-mono';
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

browser-card-mode > button[data-action="toggle"] {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

browser-card-mode > button[data-action="toggle"]:before {
	content: '\e5c5';
	transition: 200ms transform ease-out;
}

browser-card-mode > button[data-action="toggle"].active:before {
	transform: rotate(180deg);
	transition: 200ms transform ease-out;
}



browser-card-mode-article {
	display: none;
	width: 100%;
	height: auto;
	text-align: center;
}

browser-card-mode.active browser-card-mode-article {
	display: block;
}

browser-card-mode-article > button {
	margin: 0px 8px;
}

browser-card-mode-article > button[data-key="mode.text"]:before  { content: '\e06f'; }
browser-card-mode-article > button[data-key="mode.image"]:before { content: '\e432'; }
browser-card-mode-article > button[data-key="mode.audio"]:before { content: '\e049'; }
browser-card-mode-article > button[data-key="mode.video"]:before { content: '\e404'; }
browser-card-mode-article > button[data-key="mode.other"]:before { content: '\e048'; }
browser-card-mode-article > button[data-val="true"]              { color: var(--element-active-color); }
browser-card-mode-article > button[data-val="true"]:hover        { color: var(--element-active-color); }



browser-card-mode-footer {
	display: none;
	height: 32px;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	text-align: right;
}

browser-card-mode.active browser-card-mode-footer {
	display: block;
}

browser-card-mode-footer > button {
	margin-left: 16px;
}

browser-card-mode-footer > button[data-action="create"]:before { content: '\e145'; }
browser-card-mode-footer > button[data-action="remove"]:before { content: '\e14c'; }
browser-card-mode-footer > button[data-action="save"]:before   { content: '\e876'; }



@media screen and (max-width: 800px) {

	browser-card-mode {
		width: auto;
	}

}

