
browser-card-mode {
	all: unset;
}

browser-card-mode {
	display: block;
	position: relative;
	width: 640px;
	margin: 0px;
	padding: 16px;
	background: var(--element-active-background);
	border: 1px solid var(--element-focus-color);
	border-radius: 8px;
	box-sizing: border-box;
}

browser-card-mode-article {
	display: block;
	width: 100%;
	height: 0px;
	text-align: center;
	overflow: hidden;
}

browser-card-mode.active browser-card-mode-article {
	height: auto;
}

browser-card-mode-footer {
	display: block;
	height: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: right;
	overflow: hidden;
	transition: 200ms all ease-out;
}

browser-card-mode.active browser-card-mode-footer {
	margin: 32px 0px 0px 0px;
	height: 32px;
}



browser-card-mode h3 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'vera-mono';
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	vertical-align: middle;
}

browser-card-mode.active h3 {
	padding: 0px 0px 32px 0px;
}

browser-card-mode h3 > input {
	width: calc(100% - 48px);
}

browser-card-mode button[data-action="toggle"] {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

browser-card-mode button[data-action="toggle"]:before {
	content: '\e5c5';
	transition: 200ms transform ease-out;
}

browser-card-mode button[data-action="toggle"].active:before {
	transform: rotate(180deg);
	transition: 200ms transform ease-out;
}

browser-card-mode-article button {
	margin: 0px 8px;
}

browser-card-mode-article button[data-key="mode.text"]:before  { content: '\e06f'; }
browser-card-mode-article button[data-key="mode.image"]:before { content: '\e432'; }
browser-card-mode-article button[data-key="mode.audio"]:before { content: '\e049'; }
browser-card-mode-article button[data-key="mode.video"]:before { content: '\e404'; }
browser-card-mode-article button[data-key="mode.other"]:before { content: '\e048'; }
browser-card-mode-article button[data-val="true"]              { color: var(--element-active-color); }
browser-card-mode-article button[data-val="true"]:hover        { color: var(--element-active-color); }

browser-card-mode-footer button {
	margin-left: 16px;
}

browser-card-mode-footer button[data-action="create"]:before  { content: '\e145'; }
browser-card-mode-footer button[data-action="remove"]:before  { content: '\e14c'; }
browser-card-mode-footer button[data-action="save"]:before    { content: '\e876'; }

