
browser-card-redirect {
	all: unset;
	display: block;
	position: relative;
	width: 800px;
	max-height: 64px;
	margin: 0px;
	padding: 16px;
	background: var(--surface-default-background);
	border: 1px solid var(--surface-default-color);
	border-radius: 8px;
	box-sizing: border-box;
	transition: 200ms all ease-out;
	overflow: hidden;
	cursor: default;
}

browser-card-redirect.active {
	max-height: unset;
}

browser-card-redirect > h3 {
	display: block;
	margin: 0px 0px 16px 0px;
	padding: 0px;
}

browser-card-redirect > h3:before {
	display: inline;
	content: '\e52e';
	margin: 0px 16px 0px 0px;
	padding: 0px;
	font-family: 'icon';
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

browser-card-redirect > h3 input[type="text"] {
	display: inline-block;
	width: calc(100% - 32px - 32px - 24px);
	font-family: 'vera-mono';
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

browser-card-redirect > button[data-action="toggle"] {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	bottom: auto;
	left: auto;
}

browser-card-redirect > button[data-action="toggle"]:before {
	content: '\e5c5';
	transition: 200ms transform ease-out;
}

browser-card-redirect > button[data-action="toggle"].active:before {
	transform: rotate(180deg);
	transition: 200ms transform ease-out;
}



browser-card-redirect-article {
	display: none;
	width: 100%;
	height: auto;
}

browser-card-redirect.active browser-card-redirect-article {
	display: block;
}

browser-card-redirect-article button[data-action="redirect.create"]:before { content: '\e145'; }
browser-card-redirect-article button[data-action="redirect.remove"]:before { content: '\e14c'; }

browser-card-redirect-article code {
	display: block;
	color: var(--element-disable-color);
	white-space: pre;
}

browser-card-redirect-article input[type="text"] {
	display: block;
	width: 100%;
}

browser-card-redirect-article table {
	width: 100%;
	table-layout: fixed;
}

browser-card-redirect-article table th {
	margin: 0px;
	padding: 0px;
	font-family: 'crystalline';
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

browser-card-redirect-article table td {
	margin: 0px;
	padding: 8px 8px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'museo';
	border-top: 1px solid var(--surface-default-color);
	text-align: left;
	overflow: hidden;
}

browser-card-redirect-article table th:nth-of-type(1),
browser-card-redirect-article table td:nth-of-type(1) {
	width: 20%;
}

browser-card-redirect-article table th:nth-of-type(2),
browser-card-redirect-article table td:nth-of-type(2) {
	width: 20%;
}

browser-card-redirect-article table th:nth-of-type(4),
browser-card-redirect-article table td:nth-of-type(4) {
	width: 48px;
	text-align: center;
}



browser-card-redirect-footer {
	display: none;
	height: 32px;
	margin: 16px 0px 0px 0px;
	padding: 0px;
	text-align: right;
}

browser-card-redirect.active browser-card-redirect-footer {
	display: block;
}

browser-card-redirect-footer > button {
	margin-left: 16px;
}

browser-card-redirect-footer > button[data-action="create"]:before { content: '\e145'; }
browser-card-redirect-footer > button[data-action="remove"]:before { content: '\e14c'; }
browser-card-redirect-footer > button[data-action="save"]:before   { content: '\e876'; }



@media screen and (max-width: 800px) {

	browser-card-redirect {
		width: auto;
	}

}

