
@import url('../theme.css');
@import url('../index.css');



footer {
	display: block;
	margin: 0px 0px 64px 0px;
	padding: 0px;
	color: var(--layout-default-color);
	font-family: 'museo';
	font-weight: normal;
	text-align: center;
	background: var(--layout-default-background);
}

footer a {
	padding: 0px 2px;
	color: var(--link-default-color);
	border: 1px solid transparent;
	border-radius: 2px;
	background: var(--link-default-background);
	box-sizing: border-box;
	text-decoration: underline;
	transition: 200ms all ease-out;
	outline: none;
	cursor: pointer;
}

footer a:focus,
footer a:hover {
	color: var(--link-focus-color);
	border: 1px solid var(--link-focus-color);
	background: var(--link-focus-background);
	outline: none;
}



#welcome-modes button[disabled],
#welcome-modes button[disabled]:hover {
	color: var(--element-default-color);
}

#welcome-modes table {
	table-layout: fixed;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

#welcome-modes table tr th {
	padding: 0px 8px;
	text-align: center;
}

#welcome-modes table tr td {
	padding: 0px 8px;
	text-align: center;
}

#welcome-modes table tr th:first-child,
#welcome-modes table tr td:first-child {
	width: 64px;
}

#welcome-modes table tr td:last-child {
	text-align: left;
}

#welcome-shortcuts table tr th {
	padding: 0px 8px;
	text-align: center;
}

#welcome-shortcuts table tr td {
	padding: 0px 8px;
	text-align: left;
}

#welcome-shortcuts table tr td:nth-of-type(1) {
	width: 3em;
	font-family: 'vera-mono';
	text-align: center;
	white-space: nowrap;
}

#welcome-shortcuts table tr td:nth-of-type(2) {
	width: 12em;
	font-family: 'vera-mono';
	text-align: center;
	white-space: nowrap;
}

#welcome-pages table {
	table-layout: fixed;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

#welcome-pages table tr th:first-child,
#welcome-pages table tr td:first-child,
#welcome-pages table tr th:last-child,
#welcome-pages table tr td:last-child {
	width: 50%;
}

#welcome-pages table tr td:first-child,
#welcome-pages table tr td:last-child {
	padding: 0px 8px;
	text-align: left;
}

#welcome-pages table tr td:first-child a {
	font-family: 'vera-mono';
}



@media screen and (max-width: 706px) {

	#welcome-modes table {
		width: 100%;
	}

	#welcome-shortcuts table {
		width: 100%;
	}

	#welcome-pages table {
		width: 100%;
	}

}

