
#hosts table {
	table-layout: fixed;
}

#hosts table textarea {
	height: 96px;
	min-height: auto;
	resize: none;
}

#hosts table textarea::-moz-placeholder {
	line-height: 96px;
}

#hosts table textarea::-webkit-input-placeholder {
	line-height: 96px;
}

#hosts table tr td:last-child,
#hosts table tr th:last-child {
	width: 32px;
	padding: 0px 0px 0px 4px;
	border-color: transparent;
}

#hosts table tr:hover td:last-child,
#hosts table tr:hover th:last-child {
	background: transparent;
}

#hosts-filter {
	display: block;
	width: 100%;
	text-align: center;
}

#hosts-filter input {
	width: 416px;
	margin: 48px auto 48px auto;
	text-align: center;
}



@media screen and (max-width: 706px) {

	#hosts-filter input {
		width: auto;
	}

}

