
#internet-connection,
#internet-history,
#internet-useragent {
	width: 416px;
	margin: 48px auto 0px auto;
}

#internet-connection input[type="radio"] + label[for],
#internet-history input[type="radio"] + label[for],
#internet-useragent input[type="radio"] + label[for] {
	display: inline-block;
	width: calc(100% - 48px);
	cursor: pointer;
}

#internet-connection div,
#internet-history div,
#internet-useragent div {
	line-height: 32px;
	vertical-align: middle;
}



@media screen and (max-width: 706px) {

	#internet-connection {
		width: auto;
	}

	#internet-history {
		width: auto;
	}

	#internet-useragent {
		width: auto;
	}

}

