
#interface-theme {
	width: 416px;
	margin: 48px auto 0px auto;
}

#interface-theme input[type="radio"] + label[for] {
	display: inline-block;
	width: calc(100% - 48px);
	cursor: pointer;
}

#interface-theme div {
	line-height: 32px;
	vertical-align: middle;
}



@media screen and (max-width: 706px) {

	#interface-theme {
		width: auto;
	}

}

