
#sites table {
	table-layout: fixed;
}

#sites table tr td:last-child,
#sites table tr th:last-child {
	width: 32px;
	padding: 0px 0px 0px 4px;
	border-color: transparent;
}

#sites table tr:hover td:last-child,
#sites table tr:hover th:last-child {
	background: transparent;
}

#sites-filter {
	display: block;
	width: 100%;
	margin: 48px 0px 48px 0px;
	text-align: center;
}

#sites-filter input {
	display: block;
	width: 416px;
	margin: 0px auto 0px auto;
	text-align: center;
}

#sites-filter label {
	font-size: 16px;
	line-height: 32px;
}

#sites-modes tbody tr td:nth-of-type(2),
#sites-modes tfoot tr td:nth-of-type(2) {
	font-size: 0px;
}



@media screen and (max-width: 706px) {

	#sites-filter input {
		width: auto;
	}

}

