
@import url("../../design/content.css");
@import url("../../design/control.css");
@import url("../../design/default.css");
@import url("../../design/other/index.css");
@import url("../settings/sites.css");



#help div {
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
}

#help button[data-key],
#help button[data-key][disabled] {
	color: var(--element-default-color);
	background: var(--element-default-background);
	vertical-align: middle;
}

